@import "tailwindcss";
/* Custom scrollbar styles */
.custom-scrollbar {
  /* For WebKit browsers */
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: oklch(68.949% 0.1555 114.475) #f1f1f1;
}
@custom-variant dark (&:where(.dark, .dark *));
